﻿@model IIS.Models.DTO.GeneralSuggestionDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Applied Changes</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>
