﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Current hotel occupnacy is @ViewData["occupancy"].ToString() %</h1>
</div>
