﻿@model IEnumerable<IIS.Models.DTO.CategorySuggestionDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Category Suggestions</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label for="Start" class="control-label">Start date</label>
                <input name="Start" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label for="End" class="control-label">End date</label>
                <input name="End" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <input type="submit" value="Get Suggestions" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a href="CategorySuggestions/CreateAction/@item.CategoryId/@item.Action/@item.Amount">Accept</a>
            </td>
        </tr>
}
    </tbody>
</table>
