﻿@model IIS.Models.Entities.Room

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.m2Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.m2Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WiFi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WiFi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minibar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minibar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirConditioning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirConditioning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateBathroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrivateBathroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terrace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terrace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
