﻿@model IIS.Models.DTO.RoomDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.m2Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.m2Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WiFi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WiFi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Minibar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Minibar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AirConditioning)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AirConditioning)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateBathroom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrivateBathroom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Terrace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Terrace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPercentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPercentage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsLongTerm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsLongTerm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
